* {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		html,
		body {
			font-family: Arial, sans-serif;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		
		.container {
			height: 100%;
			position: relative;
		}
		
		input {
			ont-size: 12px;
		}
		
		h1 {
			color: #525454;
			font-size: 22px;
			margin: 0 0 10px 0;
			text-align: center;
		}
		
		#nameList {
			width: 100%;
		}
		
		select,
		#locations ,
		#wikiElem{
			display: block;
			margin: 0px auto;
			width: 80%;
			padding: 10px;
		}
		#wikiElem{
			height: 65%;
			overflow-y: auto;
		}
		
		#map {
			bottom: 0px;
			height: 100%;
			left: 30%;
			position: absolute;
			right: 0px;
		}
		
		.options-box {
			background: #fff;
			border: 1px solid #999;
			border-radius: 3px;
			height: 100%;
			line-height: 35px;
			padding: 10px 10px 30px 10px;
			text-align: left;			
			float: left;
			width: 30%;
			position: absolute;
			z-index: 1;
		}
		
		#menu {
			float: left;
			display: none;
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 1;
		}
		/*#side{
			position: relative;
			z-index: 1;
			width: 30%;
			height: 100%;
		}*/
		@media screen and (max-width: 800px) {
			h1{font-size: 18px;}
			select{font-size: 12px;}
			#locations{font-size: 12px;}
			/*#side{width: 220px; left: -175px;}*/
			.options-box{				
				width: 200px;
				display: none;
				padding-top: 30px;
			}
			#menu {
				display: block;
				
			}
			#map {
				left: 0;
			}
		}